.active {
    color: #e1e80e;
}

.navPreJunPlus {
    text-decoration: none;
    margin: 0 5px 0 5px;
}

.navPreJunPlus:hover {
    color: red;
}

.hidden {
    display: flex;
    transition-duration: 1000ms;
    transform: translate(-190px);
}
.hidden:hover {
    transition-duration: 1000ms;
    transform: translate(0);
}



