.default, .red {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 10px;
    line-height: 15px;
    padding: 4px 15px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    outline: 1px solid;
    outline-color: #BFE2FF;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.default:hover,
.default:disabled,
.default:active,
.default:focus {
    box-shadow: inset 0 0 20px #BFE2FF;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #FFF;
}

.default{
    background: #c08a4d;
}

.red {
    background: red;
}